@font-face {
  font-family: customFont01;
  src: url("../assets/NotoSansHans-Regular.otf");
}

body {
  font-family: "微软雅黑", sans-serif, "PingFang SC", "Lantinghei SC",
    "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial,
    "Hiragino Sans GB", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun",
    "sans-serif" !important;
  /* 默认 #161616  也就是 rgba(0, 0, 0, 0.65) */
  /* color: rgba(0, 0, 0, 0.65); */
  color: #343d3e !important;
}

/* 去掉所有下划线 */
a {
  text-decoration: none !important;
  color: "#343d3e";
}
